<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
				        http://www.springframework.org/schema/mvc 
				        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
				        http://www.springframework.org/schema/context 
				        http://www.springframework.org/schema/context/spring-context-4.2.xsd
				        http://www.springframework.org/schema/aop
				        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!-- 加载属性文件 -->
	<context:property-placeholder location="classpath:resource/*.properties"/>
	
	<!-- 配置包扫描器，扫描@Controller注解的类 -->
	<context:component-scan base-package="com.ryf"/>

	
	
	<!-- 配置注解驱动 -->
	<mvc:annotation-driven />
	
	
	<bean id="controllerAop" class="com.ryf.aop.ControllerAop">
	</bean>
	
	<!-- 
		aop:aspectj-autoproxy 与  aop:config 2选1
		前者是注解实现aop , 后者是xml方式实现aop
	
	 -->
	<aop:aspectj-autoproxy/>
 	<!-- <aop:config>
       <aop:aspect id="myAspect" ref="controllerAop">
          <aop:pointcut  id="myPointCut"  expression="execution(* com.ryf.controller.*.*(..))" />
          <aop:before pointcut-ref="myPointCut" method="before" />
          <aop:after-returning pointcut-ref="myPointCut"  method="afterReturning"/>
          <aop:around pointcut-ref="myPointCut" method="around" />
       </aop:aspect>
    </aop:config> -->
	
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="maxActive" value="10" />
		<property name="minIdle" value="5" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml" />
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 这里指的是接口文件的地址,而不是*mapper.xml的地址 -->
		<property name="basePackage" value="com.ryf" />
	</bean>  
	
	<!-- 定义quartz定时器相关 -->
	<!-- jobdetail -->
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="myJob"></property>
		<property name="targetMethod" value="run"></property>
	</bean>
	<!-- trigger触发器 -->
	<bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetail"></property>
		<property name="cronExpression" value="5/5 * * * * ?"></property>
	</bean>
	<!-- 配置调度工厂 -->
	<bean id="schedule" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="trigger"/>
			</list>
		</property>
	</bean>
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	
	
</beans>      